Ensembl Gene ID	Ensembl Protein ID	GO Term Accession	GO Term Name	GO Term Definition	GO Term Evidence Code	GO domain
ENSG00000198888	ENSP00000354687	GO:0016020	membrane	"A lipid bilayer along with all the proteins and protein complexes embedded in it an attached to it." [GOC:dos, GOC:mah, ISBN:0815316194]	IEA	cellular_component
ENSG00000198888	ENSP00000354687	GO:0016021	integral component of membrane	"The component of a membrane consisting of the gene products and protein complexes having at least some part of their peptide sequence embedded in the hydrophobic region of the membrane." [GOC:dos, GOC:go_curators]	IEA	cellular_component
ENSG00000198888	ENSP00000354687	GO:0005743	mitochondrial inner membrane	"The inner, i.e. lumen-facing, lipid bilayer of the mitochondrial envelope. It is highly folded to form cristae." [GOC:ai]	TAS	cellular_component
ENSG00000198888	ENSP00000354687	GO:0055114	oxidation-reduction process	"A metabolic process that results in the removal or addition of one or more electrons to or from a substance, with or without the concomitant removal or addition of a proton or protons." [GOC:dhl, GOC:ecd, GOC:jh2, GOC:jid, GOC:mlg, GOC:rph]	IEA	biological_process
ENSG00000198888	ENSP00000354687	GO:0031966	mitochondrial membrane	"Either of the lipid bilayers that surround the mitochondrion and form the mitochondrial envelope." [GOC:mah, NIF_Subcellular:sao1045389829]	IDA	cellular_component
ENSG00000198888	ENSP00000354687	GO:0006120	mitochondrial electron transport, NADH to ubiquinone	"The transfer of electrons from NADH to ubiquinone that occurs during oxidative phosphorylation, mediated by the multisubunit enzyme known as complex I." [ISBN:0716731363]	NAS	biological_process
ENSG00000198888	ENSP00000354687	GO:0008137	NADH dehydrogenase (ubiquinone) activity	"Catalysis of the reaction: NADH + H+ + ubiquinone = NAD+ + ubiquinol." [EC:1.6.5.3]	NAS	molecular_function
ENSG00000198888	ENSP00000354687	GO:0022904	respiratory electron transport chain	"A process in which a series of electron carriers operate together to transfer electrons from donors such as NADH and FADH2 to any of several different terminal electron acceptors to generate a transmembrane electrochemical gradient." [GOC:mtg_electron_transport, ISBN:0716720094]	TAS	biological_process
ENSG00000198888	ENSP00000354687	GO:0005515	protein binding	"Interacting selectively and non-covalently with any protein or protein complex (a complex of two or more proteins that may include other nonprotein molecules)." [GOC:go_curators]	IPI	molecular_function
